name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  build:
    name: "${{ matrix.os.name}}"
    runs-on: ${{ matrix.os.id }}
    if: ${{ github.repository == 'ciscoo/cxf-codegen-gradle' }}
    strategy:
      matrix:
        os:
          - id: ubuntu-latest
            name: Linux
          - id: windows-latest
            name: Windows
          - id: macos-latest
            name: macOS
    steps:
      - name: Prepare Windows runner
        if: ${{ runner.os == 'Windows' }}
        run: |
          git config --global core.autocrlf true
          git config --global core.longPaths true
          Stop-Service -name Docker
      - name: Check Out Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Setup Gradle
        uses: ./.github/actions/setup-gradle
      - name: Run Checks
        shell: bash
        run: ./gradlew check
      - name: Run Functional Tests
        shell: bash
        run: ./gradlew functionalTest

  publish_snapshot_artifacts:
    name: Publish Snapshot Artifacts
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'ciscoo/cxf-codegen-gradle' && github.ref == 'refs/heads/master'
    steps:
      - name: Check Out Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Setup Gradle
        uses: ./.github/actions/setup-gradle
      - name: Publish
        run: ./gradlew publishAllPublicationsToMavenCentralSnapshotsRepository -x check
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

  update_snapshot_documentation:
    name: Update Snapshot Documentation
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'ciscoo/cxf-codegen-gradle' && github.ref == 'refs/heads/master'
    steps:
      - name: Check Out Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Setup Gradle
        uses: ./.github/actions/setup-gradle
      - name: Publish Snapshot Documentation
        run: ./gradlew gitPublishPush -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false
        env:
          GRGIT_USER: git
          GRGIT_PASS: ${{ secrets.GH_TOKEN }}
